* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top {
    height: 150px;
    width: 100%;
    background-color: #382d2c;
}

.container {
    margin: 40px 10vw;
    --brown-color: #382d2c;
    --light-brown-color: #88807e;
    font-family: inter;
    max-width: 1500px;
}

.bcont {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

.bb {
    height: 100%;
    width: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: var(--brown-color);
    font-weight: bold;
}

.bb:hover {
    color: var(--light-brown-color);
}

.tcont {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.title {
    text-align: center;
    font-size: 40pt;
    font-weight: 300;
    padding: 0 30px;
    position: relative;
}

.title::after {
    width: 100%;
    border: 2px solid var(--light-brown-color);
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
}

.dcont {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.description {
    flex: 1.2;
    text-align: center;
    min-width: 300px;
    padding: 30px 5vw 30px 5vw;
}

.dimage {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    padding: 0 5vw;
    width: 20vw;
}

img {
    width: 100%;
}

.gcont {
    display: grid;
    grid-template-columns:repeat(auto-fit , 200px);
    column-gap: 20px;
    justify-content: space-between;
    row-gap: 40px;
    margin-bottom: 40px;
}

.gelem {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gt {
    padding: 5px 10px;
    text-align: center;
    font-size: 1.1em;
    color: var(--brown-color);
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

.gt::after {
    width: 150px;
    content: "";
    border: 1px solid var(--light-brown-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.gi {
    text-align: center;
    font-size: 0.9em;
}

.g2 {
    grid-column: span 2;
    padding: 0;
}

table {
    height: 100%;
    text-align: center;
}

th {
    color: var(--brown-color);
    text-align: left;
}

th, td {
    padding: 20px;
}

.gf {
    grid-column: 1 / -1;
}

@media (max-width: 500px)
{
    .g2 {
        grid-column: span 1;
    }

    th {
        font-size: 0.9em;
    }

    td {
        font-size: 0.9em;
    }

    .gcont {
        grid-template-columns: 100%;
    }

    .title {
        font-size: 30pt;
    }
}